@{
    ViewData["Title"] = "Movies - CRUD with database";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<input class="favorite styled"
       type="button"
       value="Add">
<input class="favorite styled"
       type="button"
       value="Delete">
<input class="favorite styled"
       type="button"
       value="Show">
<input class="favorite styled"
       type="button"
       value="Update">
